/* Material Icons font */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
				local('MaterialIcons-Regular'),
				url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
				url(../fonts/MaterialIcons-Regular.woff) format('woff'),
				url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* End Material Icons font */

body {
	padding-top: 80px;
}

table {
	width: 100%;
}

table, .table {
	font-size: inherit !important;
}

.title {
	font-size: 36px;
}

.device-icon {
	margin-right: 20px;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
}

.device-warning .alert {
	margin-bottom: 0;
}

.panel-input .panel-body {
	word-wrap: break-word;
}

.whatdevice-button {
	width: 100%;
	margin-bottom: 30px;
}

#report-text {
	width: 100%;
	height: 200px;
	height: 50vh; /* Set textarea to 50% of the viewport if vh is supported by the browser */
	resize: none;
}

.clipboard-success-button, .clipboard-error-button {
	display: none;
}

@media only screen and (max-width: 300px) {
	.device-icon {
		margin-right: 0px !important;
		display:none
	}
}

@media only screen and (max-width: 400px) {
	.title {
		font-size: 24px;
	}

	.device-icon {
		margin-right: 10px !important;
		font-size: 50px !important;
	}
}